* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul, ol, li {
  list-style: none;
}

:root {
  --corPrimaria: #181818;
  --corSecundaria: #0066ff;
  --corTerciaria: #c2c2c2;
  --corTexto: #ffffff;
}

.sliderDiv {
  position: absolute;
  width: 100%;
  height: 40px;
  z-index: 1;
}

.sliderDiv .slider {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #414141;
}

.sliderDiv .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--corSecundaria);
  cursor: pointer;
}

.sliderDiv p {
  color: white;
  font-weight: 900;
  margin-left: 10px;
}

.item2 {
  top: 50px;
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--corPrimaria);
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .btn-container .after {
  position: absolute;
  width: 540px;
  height: 140px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: translateZ(-60px);
          transform: translateZ(-60px);
  border: 3px solid var(--corSecundaria);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.container .btn-container .middle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  width: 620px;
  height: 220px;
  border-radius: 200px;
  border: 3px solid var(--corSecundaria);
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.container .btn-container .middle::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  left: -100%;
  background-color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: -1;
}

.container .btn-container .middle:hover::before {
  left: 0;
  width: 100%;
}

.container .btn-container .middle:hover {
  color: var(--corSecundaria);
}

.container .btn-container .before {
  position: absolute;
  width: 540px;
  height: 140px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
  border: 3px solid var(--corSecundaria);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */